.button {
  box-sizing: border-box;
  display: block;
  padding: 15px 39px 18px;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: $white;
  border: $button-border;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:active {
    color: rgba($accent-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  line-height: 20px;
}
