.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: $minor-background;
  padding: 40px 0 20px;
}

.page-footer__contacts {
  @include container;
  margin-bottom: 15px;
}

@media (min-width: $desktop-width) {
  .page-footer {
    flex-direction: row;
    padding: 50px 0;
  }

  .page-footer__title {
    width: 100%;
  }
  //
  .page-footer__contacts {
    @include desktop-container;
  }

}
