.works__container {
  @include container;
}

.works__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: $black;
}

.works__list {
  @include simple-list;
  margin-bottom: 15px;
}

.works__filter {
  border: none;
  background: none;
  outline: none;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:active {
    color: rgba($accent-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .works__container {
    @include tablet-container;
  }

  .works__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    max-width: 600px;
  }
}

@media (min-width: $desktop-width) {
  .works__container {
    @include desktop-container;
  }

  .works__list {
    max-width: unset;
  }
}
